*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 5px; ;
    font-family: Arial, Helvetica, sans-serif;
    background: #f8e8e8;
}

nav{
    background-color: #f0e6e7;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    padding: 0 20px;
}

.nav-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    filter: grayscale(20px);
    justify-content: space-between;
    height: 40px;
    object-fit: cover;
}

.logo img{
    display: flex;
    justify-content: center;
    padding:5px;
    background: rgb(43, 70, 2);
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -50px;
}

.brand {
    font-size:20px;
    font-weight: 700;
    margin-left: -350px;
}

.brand a{
     text-decoration: none;
     color: #0b6623;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li{
    position: relative;
}

.nav-links a{
    text-decoration: none;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 4px;
    transition: background 0.2s;
}

.nav-links li a{
    color: #0b6623;
    font-size: 5px;
}

.nav-links a:hover{
    background: #bb5555;
}

.dropdown-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #298541;
    font-size: 13px;
}

.dropdown-btn ion-icon{
    color: #298541;
    font-weight: 800;
}

.ab   {
    color: #298541;
    font-size: 13px;
}

.dropdown{
     position: absolute;
     top: 100%;
     left: 0;
     display: none;
     flex-direction: column;
     min-width: 150px;
     z-index: 1000;
      font-size: 20px;
}

.dropdown a{
    padding: 10px;
    color: #093f17;
    white-space: nowrap;
   
}

.dropdown a:hover{
    background: #298541;
    width: 50px;
}

.nav-links li:hover .dropdown{
    display: flex;
}

.nav-action{
    display: flex;
    gap: 10px;
    
}

.btn{
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}

.lo{
    padding: 5px;
    background: #093f17;
    color: #ffffff;
    border-radius: 7px;
}

.st{
     padding: 6px;
    background:   #ffffff;
    color: #093f17;
    border-radius: 7px;
}


/* Features page */

.intro-box{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.intro-box-logo{
    color: #044839;

}
.intro-box-header{
    font-size: 2.7rem;
    color: #044839;
    font-weight: bold;
    width: 40%;
}
.intro-box-text{
    width: 35%;
    font-size: 1rem;
}
.intro-box div{
    text-align: center;
}

/* Sectiom */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #EBEDE8;
}
.top-box{
    width: 95%;
}
/* Top Container */
.container-top{
    width: 100%;
    display: flex;
    padding: 60px;
    border-radius: 15px;
}
/* Left Box */
.left-box{
    width: 50%;
    position: relative;
    padding: 0 0 0 35px;
}
.left-box-header{
    font-size: 2.4rem;
    color: #044839;
    font-weight: 600;
}
.space{
    padding: 10px;
}
.left-box-text{
    line-height: 1.7;
    font-size: 1.4rem;
    width: 80%;
}
.separation{
    padding: 86px;
}
.exploreBtn{
    /* padding: 10px; */
    background-color: #044839;
    position: absolute;
    color: white;
    padding: 15px;
    bottom: 0;
    border-radius: 7px;
    text-decoration: none;
    font-size: 17px;
    /* box-shadow: 0 0 10px 1px rgb(0, 0, 0); */
}



/* right Box */
.right-box{
    height: fit-content;
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-box-logo{
    display: flex;
    align-items: center;
}
.right-box-header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    padding: 15px 20px 15px 20px;
}
.down{
    width: 18px;
    aspect-ratio: 1/1;
}
.box{
    background-color: white;
    width: 70%;
}
.people{
    display: flex;
}
.people div{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: calc();
    background-size: cover;
}
.num-1{
    background: url(./assets/1.jpg);
}
.num-2{
    background: url(./assets/2.jpg);
    transform: translateX(-10px);
}
.num-3{
    background: url(./assets/3.jpg);
    transform: translateX(-20px);
}
.num-4{
    background: url(./assets/4.jpg);
    transform: translateX(-30px);
}

.right-box-body{
    /* border: solid green; */
    display: flex;
    padding: 20px;
    justify-content: center;
}
.y-axis{
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* border: solid; */
    width: 5%;
    text-align: right;
    font-size: 14px;
}
.bar-container{
    display: flex;
    /* border: solid; */
    height: inherit;
    align-items: end;
    width: 90%;
    justify-content: space-between;
    /* padding: 00 15px 0 15px; */
    /* padding: 10px; */
    padding: 0 0px 7px 0px;
    border-bottom: solid 1px #ccc;
    /* margin: 10px; */
    margin: 0 0 0 10px;
}
.bar{
    background-color: #D8DAD4;
    height: 70%;
    width: 5%;
    border-radius: 5px;
}
.bar-1{
    height: 55%;
}
.bar-2{
    height: 75%;
}
.bar-3{
    height: 33%;
}
.bar-4{
    height: 25%;
}
.bar-5{
    background-color: #044839;
    height: 95%;
}
.bar-6{
    height: 40%;
}
.bar-7{
    height: 70%;
}
.bar-8{
    height: 40%;
}
.bar-9{
    height: 18%;
}
.bar-10{
    height: 33%;
}
/* End of container top */


/* Container bottom */
.bottom-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}
.container-bottom{
    width: 40%;
    /* height: 100px; */
    /* background-color: #EBEDE8; */
    border-radius: 20px;
    /* border: solid; */
    overflow: hidden;
    border: solid #ccc 2px;
}
.container-2-header{
    background-color: #EBEDE8;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro{
    font-size: 2rem;
    color: #044839;
    font-weight: bold;
}
.more-space{
    padding: 10px;
}
.even-more-space{
    padding: 20px;
}
.text{
    /* border: solid; */
    width: 70%;
    font-size: 1.1rem;
    line-height: 1.7;
}
.another-Container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.act{
    color: #044839;
    font-weight: bold;
    font-size: 1.1rem;
}
.msgBtn{
    color: #044839;
    font-weight: bold;
    box-shadow: 0 0 10px 1px #ccc;
    border-radius: 8px;
    padding: 5px;
}
.newContainer-1{
    box-shadow: 0 0 10px 2px #ccc;
    border-radius: 17px;
    padding: 25px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    /* border: solid; */
}
.child-1{
    display: flex;
    justify-content: space-between;
}
.pfp-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pfp-1-img{
    background-image: url(./assets/pfp1.jpg);
    width: 35px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.pfp-2-img{
    background-image: url(./assets/pfp-2.jpg);
    width: 35px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.pfp-3-img{
    background-image: url(./assets/paper.png);
    width: 45px;
    height: 45px;
    aspect-ratio: 1/1;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #ccc;
}
.name{
    color: #044839;
    font-weight: bold;
}
.gray{
    width: 50px;
    background-color: #ccc;
    height: 14px;
    border-radius: 20px;
    /* position: absolute; */
}
.yet-another-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.hello{
    line-height: 1.5;
}
.new{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
.email-not{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: solid 2px #ccc;
    padding: 30px 0 30px 0;
    margin: 0 10px 0 10px;
    /* height: 10%; */
}
.email-header{
    color: #044839;
    font-size: 1.5rem;
}
.svBtn a{
    color: #044839;
    padding: 7px;
    box-shadow: 0 0 10px 2px #ccc;
    text-decoration: none;
    border-radius: 13px;
}
.switch-On{
    background-color: #044839;
    display: flex;
    justify-content: end;
    padding: 3px;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}
.switch-Off{
    background-color: #ccc;
    display: flex;
    justify-content: end;
    padding: 3px;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
}
.circle{
    background-color: white;
    z-index: 99;
    height: 90%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}



.quest{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
    font-size: 1.2rem;
}

.footerSpace{
    padding: 30px;
}
.space-more{
    padding: 20px;
}






/* End of Features page */